:root {
  --background-color: #f9f7fe;
  --main-color: #272142;
  --second-color: #6c63ff;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  text-align: center;
}

p {
  font-family: var(--default-font);
  text-align: center;
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 120px 15px;
}

.hero p {
  font-weight: 700;
  font-size: 36px;
}

.hero h1 {
  font-weight: 700;
  font-size: 96px;
}

.hero h2 {
  font-size: 24px;
  color: var(--main-color);
}

.about {
  padding: 120px 15px;
}

.about h1 {
  font-size: 64px;
  line-height: 1;
}

.about h2 {
  font-size: 18px;
  font-family: var(--default-font);
}

.about-content {
  margin: 30px;
}

.hero .btn-brand {
  background-color: #6c63ff;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 36px;
}

.about .btn-brand {
  background-color: #6c63ff;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  padding: 16px 32px;
}

.container .description {
  padding: 100px 50px;
}

.container .description h2 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 64px;
}

.container .description p {
  font-size: 16px;
}

.container .btn-launch {
  color: var(--second-color);
  border: 1px solid var(--second-color);
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 36px;
}

footer {
  text-align: center;
}

.contact p {
  font-family: var(--default-font);
  font-size: 700;
}

@media (max-width: 960px) {
  .hero {
    padding: 60px 15px;
  }
  h1 {
    font-size: 42px;
    line-height: 56px;
  }

  .container .description h2 {
    font-size: 42px;
  }

  .container .description {
    padding: 0;
    text-align: center;
  }

  .about {
    text-align: center;
    padding: 0;
  }
}
