:root {
  --background-color: #f9f7fe;
  --main-color: #272142;
  --second-color: #6c63ff;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  text-align: center;
}

p {
  font-family: var(--default-font);
  text-align: center;
}

.my-img {
  max-width: 100px;
  border-radius: 50%;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--second-color);
}

.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 120px 15px;
}

.hero p {
  font-weight: 700;
  font-size: 36px;
}

.hero h1 {
  font-weight: 700;
  font-size: 96px;
}

.hero h2 {
  font-size: 24px;
  color: var(--main-color);
}

.content {
  padding: 120px 15px;
}

.content h1 {
  font-size: 64px;
  line-height: 1;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.hero .btn-brand {
  background-color: #6c63ff;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 36px;
}

.content-container .btn-brand {
  background-color: #6c63ff;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  padding: 16px 32px;
}
.content-container .btn-brand-work {
  background-color: #6c63ff;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  padding: 16px 32px;
  max-width: 50%;
}

.container .description {
  padding: 100px 50px;
}

.container .description h2 {
  font-family: var(--heading-font);
  font-weight: 700;
  font-size: 64px;
}

.container .description p {
  font-size: 16px;
}

.container .btn-launch {
  color: var(--second-color);
  border: 1px solid var(--second-color);
  font-weight: 500;
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 36px;
}

footer .contact {
  background-color: var(--background-color);
  padding: 30px 120px;
  border-radius: 15px;
}

footer h4 {
  font-size: 45px;
}

footer .contact p {
  margin: 0;
}

footer .btn-brand {
  background-color: #6c63ff;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  padding: 16px 32px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

footer .email-link:hover {
  color: var(--second-color);
}

footer .social-media a {
  margin: 0 20px;
  color: var(--second-color);
  background-color: var(--background-color);
  padding: 12px 18px;
  font-size: 22px;
  border-radius: 50%;
}

footer .social-media a:hover {
  color: white;
  background-color: var(--main-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 960px) {
  .hero {
    padding: 60px 15px;
  }

  h1 {
    font-size: 42px;
    line-height: 56px;
  }

  .container .description h2 {
    font-size: 42px;
  }

  .container .description {
    padding: 0;
    text-align: center;
  }

  .content {
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 660px) {
  .my-img {
    max-width: 50px;
  }

  footer .contact {
    padding: 30px;
  }

  footer .contact h4 {
    font-size: 25px;
  }

  footer .contact .btn {
    font-size: 16px;
  }
}
